    <div class="breadcrumb no-select">
        <!-- <div id="home-info-cover"><span>Click to start creating</span></div> -->
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-xs-2 col-xs-offset-2">
                    <div id="bc-create" class="info-items orange-bg">
                        <div>Create Event</div>
                        <i class="fa fa-plus-square-o"></i>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div id="bc-insert" class="info-items">
                        <div>Insert Availability</div>
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div id="bc-share" class="info-items">
                        <div>Share Event</div>
                        <i class="fa fa-share-alt"></i>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div id="bc-schedule" class="info-items">
                        <div>Schedule Event</div>
                        <i class="fa fa-envelope-o"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>