<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-icon" href="/">
            <img src="assets/images/logo.png" />
        </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <!-- <li><a href="#">About</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">Help</a></li> -->
            <% if (locals.username) { %>
                <li><a id="username-holder" href="#"><%= locals.username %></a></li>
                <li><a id="logout-button" href="#">Logout</a></li>
            <% } else { %>
                <li><a id="login-button" href="#">Login</a></li>
                <li><a id="signup-button" href="#">Signup</a></li>
            <% }  %>
        </ul>
    </div>
</div>