<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
        
        <!-- packages -->
        <script src="packages/moment/moment.js"></script>
        <script src="packages/fullcalendar-2.3.1/fullcalendar.js"></script> 

        <link href='packages/fullcalendar-2.3.1/fullcalendar.min.css' rel='stylesheet' type='text/css'>

		<!-- My Scripts -->
		<script type="text/javascript" src="js/event_create.js"></script>

		<!-- My Styles -->
		<link rel="stylesheet" type="text/css" href="styles/style.css">

	</head>
<body>
<div id="event" class="container-fluid">
    <nav class="navbar navbar-default light-bg">
        <% include ../partials/nav %>
    </nav>

    <div id="event-content" class="col-xs-10 col-xs-offset-1">
        <div class="event-inputs row">
            <form id="event-details" class="col-xs-12">
                <div class="form-group">
                    <input class="form-control input-lg" type="text" name="event-name" placeholder="Event Name" required="required" title="">
                </div>
                <div class="form-group">   
                    <textarea name="event-descr" class="form-control" placeholder="Event Description" rows="3"></textarea>
                </div>
            </form>
        </div>
        <div id="event-calendar" class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div id="month-calendar"></div>
            </div>
        </div>
        <div class="event-inputs row">
            <form id="event-preferences" class="col-xs-12">
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label class="input-label">What times can the event occur?</label>
                        <div class="form-inline">
                            No earlier than 
                            <input type="time" name="event-time-from" class="form-control" value="" required="" title="">
                            to no later than
                            <input type="time" name="event-time-to" class="form-control" value="" required="" title="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label class="input-label">How long will the event be?</label>
                        <div class="form-inline">
                            <select id="event-length" name="event-length" class="form-control">
                                <option value="1" selected="selected">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            Hour(s)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label class="input-label">When do you want to be notified?</label>
                        <div class="form-inline">
                            <input type="checkbox" value="" name="notify-participant">
                            Notify me after 
                            <select name="notify-num-participants" class="form-control" required="required">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            participants have responded.
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="form-inline">
                            <input type="checkbox" name="notify-after" value="">
                            Notify me after
                            <select id="event-responses" name="notify-num-after" class="form-control" required="required">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            day(s).
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <div class="form-inline">
                            <input type="checkbox" name="notify-each" checked="checked" value="">
                            Notify me after each participant responds.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button id="event-submit" type="submit" class="btn btn-default btn-lg pull-right orange-bg">Create Event</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>