<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>

		<!-- My Scripts -->
		<script type="text/javascript" src="js/home.js"></script>

		<!-- My Styles -->
		<link rel="stylesheet" type="text/css" href="styles/style.css">

	</head>
<body>
<%= include ../partials/modal-login %>
<%= include ../partials/modal-signup %>
<%= include ../partials/modal-loginalert %>

<div id="home" class="container-fluid">
    <nav id="nav" class="navbar navbar-default light-bg">
        <% include ../partials/nav %>
    </nav>
    
    <div id="home-jumbo" class="jumbotron grey-bg">
        <div class="row">
            <div class=" col-xs-4 col-xs-offset-1">
                <img class="img-responsive" src="assets/images/logoSmall.png" />
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div id="home-desc" class="col-xs-12">Quickly compare schedules to find a meeting time that works for everyone!</div>
                </div>
                <div class="row">
                    <button id="home-create" class="center-block grey-bg" type="create">Create Event</button>
                </div>
            </div>
        </div>
    </div>

    <div id="home-info-section">
        <div class="row">
            <div class="col-xs-3">
                <div class="info-items">
                    <div>Create Event</div>
                    <i class="fa fa-plus-square-o"></i>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="info-items">
                    <div>Insert Availability</div>
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="info-items">
                    <div>Share Event</div>
                    <i class="fa fa-share-alt"></i>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="info-items">
                    <div>Schedule Event</div>
                    <i class="fa fa-envelope-o"></i>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>