<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
		
		<!-- My Scripts -->
		<script type="text/javascript" src="js/schedule.js"></script>

		<!-- My Styles -->
		<link rel="stylesheet" type="text/css" href="styles/style.css">

	</head>
<body>
<div id="availability" class="container-fluid">
    <nav class="navbar navbar-default light-bg">
        <% include ../partials/nav %>
    </nav>
</div>
</body>
</html>