<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Coordinate</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="icon" href="assets/images/logoSmall.png" type="image/png">
        <link rel="shortcut icon" href="assets/images/logoSmall.png" type="image/png" />

				
		<!-- Linked Scripts -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 

        <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
		
		<!-- My Scripts -->
		<!-- My Styles -->
		<link rel="stylesheet" type="text/css" href="styles/style.css">
        

	</head>
<body class="container-fluid">
    <div class="row">
        <div id="movie-holder" class="col-xs-8 col-offset-xs-2">
            <iframe width="854" height="510" src="https://www.youtube.com/embed/uIzgfH55rKc?autoplay=1&start=103" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>