.light-bg {
    background-color: #c2dfa6;

    transition: background-color .2s;
}

.dark-bg {
    background-color: #118c4e;

    transition: background-color .2s;
}

.orange-bg {
    background-color: #f68f1e;

    transition: background-color .2s;
}
button.orange-bg:hover {
    background-color: #ff8500;
}
button.orange-bg:active {
    background-color: #ff8500;
}

.grey-bg {
    background-color: #585858;
}


/*General Items*/

html,
body {
    font-family: lato;

    width: 100%;
    max-width: 1500px;
    height: 100%;
    margin: 0 auto;
}

body > .container-fluid {
    max-width: 1920px;
    padding: 10px 40px;
}

h3 {
    font-size: 20pt;
}

.fc-highlight {
    opacity: .5;
    background-color: #118c4e;
}

.no-select {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

.content {
    border: 1px solid grey;
    border-radius: 5px;
}

.page-break:after {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;

    border-bottom: 1px solid grey;
}

.error-highlight {
    border: 2px solid red;
}

.error-text {
    color: red;
}

.fc-toolbar {
    background-color: #585858;
    color: white;
    padding: 10px;
    margin: 0px;
}

#event-calendar {
    background-color: #c2dfa6;
}
#month-calendar {
    background-color: white;
}

.breadcrumb {
    background: none;
}

.breadcrumb .info-items {
    font-size: 12pt;

    padding: 10px 0;

    color: white;
    border-radius: 5px;

    text-align: center;
}
.breadcrumb .info-items i {
    font-size: 30pt;
}
.breadcrumb .info-items {
    color: #585858;
    background-color: #cbdfa8;
}

/*General Items*/

/*NAV BAR*/
.navbar-icon img {
    width: 150px;
    height: 100%;
    padding: 10px;
}

.navbar {
    font-size: 14pt;

    color: black;
    position: relative;
}

.navbar a,
.navbar ul {
    color: black;
}

.navbar ul.nav {
    float: right;
}

#dropdown-container {
    display: none;
    position: absolute;
    border-radius: 5px;
    /*padding: 10px;*/
    right: 0px;
    top: 55px;
    z-index: 1;
}

#dropdown-container > ul {
    list-style-type: none;
    padding: 0px;
}

#dropdown-container li {
    list-style-type: none;
    padding: 15px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .2s;
}
#dropdown-container li:hover {
    background-color: #118c4e;
    color: white;
}
#dropdown-container li:hover a {
    color: white;
}
#dropdown-container a:hover {
    text-decoration: none;
}
/*NAV BAR*/

/*HOME PAGE*/

#home-desc {
    font-size: 24pt;

    margin-top: 20%;

    color: white;

    text-align: center;
}

#home-jumbo button {
    font-size: 24pt;

    margin-top: 10%;

    color: white;
    border: 2px solid white;
    border-radius: 3px;

    transition: .2s background-color, .2s color;
}
#home-jumbo button:hover {
    color: #585858;
    background-color: white;
}

#home-info-section {
    position: relative;

    cursor: pointer;
}
#home-info-section #home-info-cover {
    font-size: 30pt;

    position: absolute;
    z-index: 10;

    width: 100%;
    height: 100%;

    opacity: 0;
    color: white;
    border-radius: 3px;
    background-color: #118c4e;

    transition: opacity .2s;
    text-align: center;
}
/*#home-info-section:hover #home-info-cover {
    opacity: .7;
}
#home-info-section:hover #home-info-cover > span {
    margin-top: 50%;
}*/
#home-info-section:hover .row > div:nth-child(1) .info-items {
    box-shadow: 0px 0px 10px 2px #118c4e;
}

#home-info-section .info-items {
    font-size: 20pt;

    padding: 20px 0;

    color: white;
    border-radius: 5px;

    text-align: center;
}
#home-info-section .info-items i {
    font-size: 80pt;
}
#home-info-section .row > div:nth-child(1) .info-items {
    color: #585858;
    background-color: #cbdfa8;
    transition: box-shadow .2s;
}
#home-info-section .row > div:nth-child(2) .info-items {
    background-color: #9fd1b8;
}
#home-info-section .row > div:nth-child(3) .info-items {
    background-color: #46a468;
}
#home-info-section .row > div:nth-child(4) .info-items {
    background-color: #118c4e;
}



/*HOME PAGE*/

/*EVENT PAGE*/

/*#event #event-content {
    border: 1px solid black;
    border-radius: 5px;
}*/

#event .event-inputs {
    padding: 10px 0;
}

#event-calendar {
    padding: 20px 0;
}

#event #event-preferences {
    font-size: 12pt;
}
#event #event-preferences > .row {
    margin-top: 15px;
}

#event .time-input {
    margin-bottom: 5px;
}
#event .time-input span {
    width: 130px;
    display: inline-block;
}

#event .page-break:after {
    padding-bottom: 25px;
}

#event input[type=number] {
    width: 60px; /*enough for 2-3 numbers*/
}
/*EVENT PAGE*/

/*AVAILABILITY PAGE - BEGIN*/
/*#availability #availability-content {
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 12pt;
}*/

#availability #availability-preference {
    text-align: center;
}
#availability  #btn-available,
#availability  #btn-not-preferred {
    border: 3px solid grey;

    transition: border .2s, background-color .2s;

    highlight: none;
}
#availability  #btn-available:hover,
#availability #btn-available.preferenceClicked {
    color: white;
    border: 3px solid #118c4e;
    background-color: #118c4e;
}
#availability  #btn-not-preferred:hover,
#availability #btn-not-preferred.preferenceClicked {
    border: 3px solid #c2dfa6;
    background-color: #c2dfa6;
}


#availability-submit {
    margin-bottom: 10px;
}

/*AVAILABILITY PAGE - END*/

/*TABLE STYLE - START*/
#availability table td.available,
#review table td.available {
    background-color: #118c4e;
}
#availability table td.not_preferred,
#review table td.not_preferred {
    background-color: #8cc86b;
}

#availability table,
#review table {
    margin: 20px auto;

    border-collapse: collapse;
}

#availability table td,
#review table td {
    /*Table cells*/
    width: 70px;
    height: 30px;

    border: 1px solid black;

    vertical-align: middle;
}

#availability th,
#review th {
    text-align: center;
}

#availability table td:nth-child(1),
#review table td:nth-child(1) {
    font-size: 12pt;

    padding-right: 5px;

    border: none;
    background-color: white;

    text-align: right;
}
/*TABLE STYLE - END*/

/*REVIEW PAGE - START*/
.timeOption {
    font-size: 13pt;

    margin-top: 20px;
    padding: 20px;

    border: 1px solid grey;
    border-radius: 10px;

    text-align: center;
}

.timeOption:hover {
    background-color: #c2dfa6;
}



.time-names-hover {
    /*element that appears on review page*/
    position: absolute;
    z-index: 10;

    padding: 10px;

    border: 1px solid black;
    border-radius: 3px;

    pointer-events: none;
}

.time-names-hover > #time-names-total {
    font-weight: bold;
}

#modal-share #share-add-holder {
    text-align: right;
}

#modal-share .share-sections {
    margin-bottom: 25px;
}
#modal-share .share-sections > .share-titles {
    margin-bottom: 5px;
}
#modal-share .share-sections > .share-email {
    margin-bottom: 10px;
}

/* REVIEW PAGE - END */

/* VIEW EVENTS - BEGIN*/

#view-events #view-events-content {
    min-height: 100px;
}

#view-events .page-break:after {
    padding-bottom: 25px;
    margin-bottom: 25px;
}

#view-events #view-events-participated {
    display: none;
}

#view-events .view-events-element {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 15px;
    cursor: pointer;
    transition: border .2s;
}
#view-events .view-events-element:hover {
    border: 2px solid green;
}
#view-events .view-events-element > .col-xs-3 {
    border-right: 1px solid grey;
}

.view-events-selector {
    font-size: 16pt;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    border: 3px solid grey;
    border-radius: 3px;
    cursor: pointer;

    transition: border .2s, background-color .2s;

    highlight: none;

}
.view-events-selector.clicked, .view-events-selector:hover {
    color: white;
    border: 3px solid #118c4e;
    background-color: #118c4e;
}

#view-events .view-events-title {
    margin: 0px 0px 8px 0px;
    padding: 0px;
}

.view-events-none {
    margin: 20px 0px;
    font-size: 12pt;
}

/* VIEW EVENTS - END*/

#holdingPage {
    text-align: center;
}

body#holdingPage > div {
    position: relative;

    display: inline;
}

body#holdingPage img {
    position: relative;
    top: 0;
    left: 0;

    height: 100%;
}

body#holdingPage h1 {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
}
