.light-bg {
    background-color: #c2dfa6;
}

.dark-bg {
    background-color: #118c4e;
}

.orange-bg {
    background-color: #f68f1e;
}

.grey-bg {
    background-color: #585858;
}

#movie-holder {
    width: 854px;
    height: 510px;
    margin: 0px auto;
}

/*General Items*/

html,
body {
    font-family: lato;

    width: 100%;
    max-width: 1500px;
    height: 100%;
    margin: 0 auto;
}

body > .container-fluid {
    padding: 10px 40px;
}

.fc-highlight {
    background-color: #118c4e;
    opacity: .5;
}

/*General Items*/

/*NAV BAR*/
.navbar-icon img {
    width: 150px;
    height: 100%;
    padding: 10px;
}

.navbar {
    font-size: 14pt;

    color: black;
}

.navbar a,
.navbar ul {
    color: black;
}

.navbar ul.nav {
    float: right;
}
/*NAV BAR*/

/*HOME PAGE*/

#home-desc {
    font-size: 24pt;

    color: white;

    margin-top: 20%;

    text-align: center;
}

#home-jumbo button {
    font-size: 24pt;

    margin-top: 10%;

    color: white;
    border: 2px solid white;
    border-radius: 3px;

    transition: .2s background-color, .2s color;
}
#home-jumbo button:hover {
    color: #585858;
    background-color: white;
}

#home-info-section .info-items {
    text-align: center;
    font-size: 20pt;
    padding: 20px 0px;
}
#home-info-section .row > div:nth-child(1) .info-items {
    background-color: #cbdfa8;
}
#home-info-section .row > div:nth-child(2) .info-items {
    background-color: #9fd1b8;
}
#home-info-section .row > div:nth-child(3) .info-items {
    background-color: #46a468;
}
#home-info-section .row > div:nth-child(4) .info-items {
    background-color: #118c4e;
}

#home-info-section .info-items {
    border-radius: 5px;
}
#home-info-section .info-items i {
    font-size: 80pt;
}

/*HOME PAGE*/

/*EVENT PAGE*/

#event #event-content {
	border: 1px solid black;
	border-radius: 5px;
}

#event .event-inputs {
	padding: 10px 0px;
}

#event-calendar {
    padding: 20px 0px;
}

#event #event-preferences {
    font-size: 12pt;
}
#event #event-preferences > .row {
    margin-top: 15px;
}
/*EVENT PAGE*/

/*AVAILABILITY PAGE - BEGIN*/
#availability #availability-content {
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 12pt;
}

#availability #availability-preference {
    text-align: center;
}

/*AVAILABILITY PAGE - END*/

/*TABLE STYLE - START*/
 table td.available {
    background-color: #118c4e;
}
 table td.not_preferred {
    background-color: #8cc86b;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

 table td {
    /*Table cells*/
    width: 70px;
    height: 30px;
    /*background-color:#ccc;*/

    border: 1px solid black;
    vertical-align: middle;
}

 th {
    text-align: center;
}

 table td:nth-child(1) {
    font-size: 12pt;
    padding-right: 5px;
    text-align: right;
    border: none;
    background-color: white;
}
/*TABLE STYLE - END*/

/*REVIEW PAGE - START*/

#review #review-content {
    border: 1px solid black;
    border-radius: 5px;
}

#offeredTimesContainer:after {
    width: 80%;
    border-bottom: 1px solid grey;
    margin: 0 auto;
    padding-bottom: 20px;
}

.timeOption { 
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 13pt;
}

.timeOption:hover {
    background-color: #c2dfa6;
}

#sendInvite {
    font-size: 16pt;
}
#sendInvite:hover {
    background-color: #c2dfa6;
}

/* REVIEW PAGE - END */

#holdingPage {
    text-align: center;
}

body#holdingPage > div {
    position: relative;

    display: inline;
}

body#holdingPage img {
    position: relative;
    top: 0;
    left: 0;

    height: 100%;
}

body#holdingPage h1 {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
}
